*{
	margin: 0px;
	padding: 0px;
}

a{
    text-decoration: none;
}

body{
    border: 1px solid red;
    font-family: "Open Sans", sans-serif;
}

li{
    list-style-type:none;
}

#area-menu{
    background-image: url(../img/background-menu.png);
    height: 125px;
    text-decoration: none;
    text-align: center;
}

.logo{
    display: inline-block;
    margin-top: 10px;
}

#area-menu ul{
    display: flex;
}

/*Padding text*/
#area-menu ul li{
    padding-right: 25px;
}

/*Text link Color*/
#area-menu ul li a{
    color: red;
}

#menu-inferior{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    background-color: #9AA8C5;
}

#menu-inferior ul li{
    display: inline;
}

#menu-inferior ul li a{
    color: white;
    padding: 5px;
    margin: 5px;
}

#menu-inferior ul li a:hover{
    background-color: aliceblue;
    color: #0D2977;
    transition: 0.5s;
}